
<div class="row">
	<!-- <div class="col-md-6"
         ba-panel
         ba-panel-title="YOY Monthly sales"
         ba-panel-class="with-scroll">
      <div class="admin-chart" ng-controller="YOYChart1Ctrl"></div>
    </div> -->

    <div class="col-md-6">
    <div class="panel" ng-controller="InsightsChart1Ctrl">
      <div class="panel-heading">
        <h1 class="panel-title">
          Average Unit Contribution Margin
           <select ng-model="viewByChart1">
          <option value="chart">Chart</option>
            <option value="table">Table</option>
          </select>
        </h1>
        </div>
        <div class="panel-body">
             <div id="InsightsChart1" class="admin-chart" ng-show="viewByChart1==='chart'"></div>   
             <div class="chart-table" ng-show="viewByChart1==='table'">
             <div class="table-responsive">
               <table class="table">
                 <tr>
                   <th>
                     Month
                   </th>
                   <th>
                     Profit Margin
                   </th>
                   <th>
                       Volume of Production
                   </th>
          
                 </tr>
                 <tr ng-repeat="item in data">
                   <td>
                     {{item.month}}
                   </td>
                   <td>
                     {{item["Product-A"]}}
                   </td>
                 
                   <td>
                     {{item["Product-C"]}}
                   </td>
                 </tr>
               </table>
             </div>  
             </div>
             
        </div>
        <!-- <div class="panel-footer">
          
            <div class="footer-select">
               <select ng-model="month" ng-change="changeByMonth(month)" class="pull-left">
              <option value="{{item.value}}" ng-repeat="item in months">{{item.name}}</option>
            </select>
  
            </div>
          </div> -->
    </div>
    </div>

<!--     <div class="col-md-6"
         ba-panel
         ba-panel-title="YOY R-Quarter Sales (in units)"
         ba-panel-class="with-scroll">
      <div id="YOYCHart2" class="admin-chart" ng-controller="YOYChart2Ctrl"></div>
    </div> -->

      <div class="col-md-6">
    <div class="panel" ng-controller="InsightsChart2Ctrl">
      <div class="panel-heading">
        <h1 class="panel-title">
          EBITDA <select ng-model="viewByChart2">
          <option value="chart">Chart</option>
            <option value="table">Table</option>
          </select>
        </h1>
        </div>
        <div class="panel-body">
             <div id="InsightsChart2" class="admin-chart" ng-show="viewByChart2==='chart'"></div>   
             <div class="chart-table" ng-show="viewByChart2==='table'">
             <div class="table-responsive">
               <table class="table">
                 <tr>
                   <th>
                     Product
                   </th>
                   <th>
                     Satisfaction
                   </th>
                   
                 </tr>
                 <tr ng-repeat="item in data[month]">
                   <td>
                     {{item.product}}
                   </td>
                   <td>
                     {{item.satisfaction}}
                   </td>
                   
                 </tr>
               </table>
             </div>  
             </div>
             
        </div>
         <div class="panel-footer">
        <div class="footer-select">
           <select class="pull-left" ng-model="month" ng-change="changeByMonth(month)">
            <option value="{{item.value}}" ng-repeat="item in months">{{item.name}}</option>

          </select>
         
        </div>
            
        </div>
    </div>
    </div>

</div>

<div class="row">

      <div class="col-md-6">
    <div class="panel" ng-controller="InsightsChart3Ctrl">
      <div class="panel-heading">
        <h1 class="panel-title">
          Supply Quality Incoming <select ng-model="viewByChart3">
          <option value="chart">Chart</option>
            <option value="table">Table</option>
          </select>
        </h1>
        </div>
        <div class="panel-body">
             <div id="InsightsChart3" class="admin-chart" ng-show="viewByChart3==='chart'"></div>   
             <div class="chart-table" ng-show="viewByChart3==='table'">
             <div class="table-responsive">
               <table class="table">
                 <tr>
                   <th>
                    Product
                   </th>
                   <th>
                    Items OK
                   </th>
                    <th>
                    Items no OK
                   </th>
                  
                 </tr>
                 <tr ng-repeat="item in data[month]">
                   <td>
                     {{item.product}}
                   </td>
                   <td>
                     {{item.r1}}
                   </td>
                    <td>
                     {{item.r2}}
                   </td>
                   
                   
                 </tr>
               </table>
             </div>  
             </div>
             
        </div>
         <div class="panel-footer">
        <div class="footer-select">
           <select class="pull-left" ng-model="month" ng-change="changeByMonth(month)">
            <option value="{{item.value}}" ng-repeat="item in months">{{item.name}}</option>

          </select>
         
        </div>
            
        </div>
    </div>
    </div>


      <div class="col-md-6">
    <div class="panel" ng-controller="InsightsChart4Ctrl">
      <div class="panel-heading">
        <h1 class="panel-title">
         Energy Cost per Unit / month <select ng-model="viewByChart4">
          <option value="chart">Chart</option>
            <option value="table">Table</option>
          </select>
          
        </h1>
        </div>
        <div class="panel-body">  
      
             <div id="InsightsChart4" class="admin-chart" ng-show="viewByChart4==='chart'"></div>   
             <div class="chart-table" ng-show="viewByChart4==='table'">
             <div class="table-responsive">
               <table class="table">
                 <tr>
                   <th>
                    Energy Source
                   </th>
                   <th>
                    Cost per unit
                   </th>
                   
                  
                 </tr>
                 <tr ng-repeat="item in data[unit]">
                   <td>
                     {{item.product}}
                   </td>
                   <td>
                     {{item.rate}}
                   </td>

                  
                   
                 </tr>
               </table>
             </div>  
             </div>
             
        </div>
        <div class="panel-footer">
        <div class="footer-select">
           <select class="pull-left" ng-model="unit" ng-change="changeByUnit(unit)">
            <option value="u1">Unit-1</option>
            <option value="u2">Unit-2</option>
            <option value="u3">Unit-3</option>
            <option value="u4">Unit-4</option>
          </select>
         
        </div>
            
        </div>
    </div>
    </div>
</div>
<div class="row">
        <div class="col-md-6">
    <div class="panel" ng-controller="InsightsChart5Ctrl">
      <div class="panel-heading">
        <h1 class="panel-title">
          Complete Product Analysis
          <select ng-model="viewByChart5">
          <option value="chart">Chart</option>
            <option value="table">Table</option>
          </select>
        </h1>
        </div>
        <div class="panel-body">
             <div id="InsightsChart5" class="admin-chart" ng-show="viewByChart5==='chart'"></div>   
             <div class="chart-table" ng-show="viewByChart5==='table'">
             <div class="table-responsive">
               <table class="table">
                 <tr>
                   <th>
                     Day
                   </th>
                   <th>
                     Production
                   </th>
                   <th>
                       Shipped
                   </th>
                
                 </tr>
                 <tr ng-repeat="item in data">
                   <td>
                     {{item.day}}
                   </td>
                   <td>
                     {{item.production}}
                   </td>
                   <td>
                     {{item.shipped}}
                   </td>
                 
                 </tr>
               </table>
             </div>  
             </div>
             
        </div>
        <div class="panel-footer">
        <div class="footer-select">
           <select class="pull-left" ng-model="product" ng-change="changeByProduct(product)">
            <option value="A">Product A</option>
            <option value="B">Product B</option>
            <option value="C">Product C</option>
            <option value="D">Product D</option>
          </select>
        </div>
            
        </div>
    </div>
    </div>


      <div class="col-md-6">
    <div class="panel" ng-controller="InsightsChart6Ctrl">
      <div class="panel-heading">
        <h1 class="panel-title">
          Cash to Cash Cycle <select ng-model="viewByChart6">
          <option value="chart">Chart</option>
            <option value="table">Table</option>
          </select>
        </h1>
        </div>
        <div class="panel-body">
             <div id="InsightsChart6" class="admin-chart" ng-show="viewByChart6==='chart'"></div>   
             <div class="chart-table" ng-show="viewByChart6==='table'">
             <div class="table-responsive">
               <table class="table">
                 <tr>
                   <th>
                     Quarter
                   </th>
                   <th>
                    Quantity
                   </th>
                  
                 </tr>
                 <tr ng-repeat="item in data[product]">
                   <td>
                     {{item.quarter}}
                   </td>
                   <td>
                     {{item.quantity}}
                   </td>
                   
                 </tr>
               </table>
             </div>  
             </div>
             
        </div>
        <div class="panel-footer">
          
            <div class="footer-select">
               <select ng-model="product" ng-change="changeByProduct(product)" class="pull-left">
              <option value="a">Product-A</option>
              <option value="b">Product-B</option>
              <option value="c">Product-C</option>
              <option value="d">Product-D</option>
            </select>
  
            </div>
          </div>
    </div>
    </div>


</div>